{% extends "base.html" %}

{% block title %} Home {% endblock title %} 

{%block body%}
<div class="container-fluid  px-0">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="IceCreams" text="IceCreams">
          
        </button>
      
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="softy"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="cupcakes"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="static/img5.jpg" class="d-block w-100" alt="..." width="1200" height="300">
          </div>
        <div class="carousel-item">
          <img src="static/img3.jpg" class="d-block w-100" alt="..." width="1200" height="300">
        </div>
        <div class="carousel-item">
          <img src="static/img6.jpg" class="d-block w-100" alt="..." width="1200" height="300">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="container" md-4>
   <h1 class="my-2 text-center md-4">Select from our range of IceCreams</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          
          <img src="static/img3.jpg" class="d-block w-100" alt="..." width="300" height="200">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col" md-4>
        <div class="card shadow-sm">
          <img src="static/img3.jpg" class="d-block w-100" alt="..." width="300" height="200">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="static/img3.jpg" class="d-block w-100" alt="..." width="300" height="200">

          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="static/img3.jpg" class="d-block w-100" alt="..." width="300" height="200">

          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="static/img3.jpg" class="d-block w-100" alt="..." width="300" height="200">

          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="static/img3.jpg" class="d-block w-100" alt="..." width="300" height="200">

          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      
      
      
        
      </div>
    </div>
  </div>
</div> 
<div class="container-fluid " style="width: 100%; padding: 0;  margin-top: 2%;">
  <footer class="text-white text-center text-lg-start bg-dark" style="width: 100%; padding: 10px;">
    <!-- Grid container -->
    <div class="container-fluid" style="padding: 20px;">
      <!--Grid row-->
      <div class="row mt-4">
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">About company</h5>
          <p>
            Here Gives the Best IceCreams in this place and our goals are to provide the best IceCreams in this place.
          </p>
          <p>
            You can Visit Our place and enjoy Our variety of IceCreams. The company was established in June 2024.
          </p>
          <div class="mt-4">
            <!-- Facebook -->
            <!-- Facebook -->
<a type="button" class="btn btn-floating btn-light btn-lg" href="https://www.facebook.com/your-facebook-page/">
  <i class="fab fa-facebook-f"></i>
</a>

<!-- Dribbble -->
<a type="button" class="btn btn-floating btn-light btn-lg" href="https://dribbble.com/your-dribbble-profile/">
  <i class="fab fa-dribbble"></i>
</a>

<!-- Twitter -->
<a type="button" class="btn btn-floating btn-light btn-lg" href="https://twitter.com/your-twitter-handle/">
  <i class="fab fa-twitter"></i>
</a>

<!-- Google + -->
<a type="button" class="btn btn-floating btn-light btn-lg" href="https://plus.google.com/your-google-plus-profile/">
  <i class="fab fa-google-plus-g"></i>
</a>

<!-- Linkedin -->
<a type="button" class="btn btn-floating btn-light btn-lg" href="https://www.linkedin.com/in/your-linkedin-profile/">
  <i class="fab fa-linkedin-in"></i>
</a>
          </div>
        </div>
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4 pb-1">Search something</h5>
          <div class="form-outline form-white mb-4">
            <input type="text" id="formControlLg" class="form-control form-control-lg" />
            <label class="form-label" for="formControlLg">Search</label>
          </div>
          <ul class="fa-ul" style="margin-left: 1.65em;">
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">New India Colony, Nikol, Ahmedabad</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">aryanicecreams@gmail.com</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+ 48 234 567 88</span>
            </li>
          </ul>
        </div>
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Opening hours</h5>
          <table class="table text-center text-white">
            <tbody class="fw-normal">
              <tr>
                <td>Mon - Thu:</td>
                <td>8am - 9pm</td>
              </tr>
              <tr>
                <td>Fri - Sat:</td>
                <td>8am - 1am</td>
              </tr>
              <tr>
                <td>Sunday:</td>
                <td>9am - 10pm</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">AryanIceCreams</a>
    </div>
    <!-- Copyright -->
  </footer>
</div>

{%endblock%}